<!DOCTYPE html>
<html lang="ru">

	<head>
		{% load static %}
		<meta charset=UTF-8>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Уже скоро</title>
		<link rel="shortcut icon" href="{% static 'img/icon.png' %}" sizes="32x32" type="image/png">
		<!--[if lt IE 9]><script src=http://html5shiv.googlecode.com/svn/trunk/html5.js></script><![endif]-->
		<link href="{% static 'css/timeout.css' %}" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
		<script src="{% static 'js/timeout.js' %}"></script>

		<script type="text/javascript" >
		   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		   ym(62786248, "init", {
				clickmap:true,
				trackLinks:true,
				accurateTrackBounce:true
		   });
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/62786248" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->
	</head>

	<body>

		<div class="left">
		<div class="timeout_banner">
			<img src="{% static 'img/logo_df_black.png' %}">

			<h1 id="time_out">скоро</h1>
		</div>
		<div class="banner">
			<h2>следите за новостями</h2>
			<a target="_blank" href="https://vk.com/df_msu"><img class="icon" src="{% static 'img/vk.png' %}"></a>
			<a target="_blank" href="https://www.instagram.com/okdf_msu/"><img class="icon" src="{% static 'img/inst.png' %}"></a>
		</div>
		</div>


		<div class="right">
		<div class="heading">
			<h1>Программа*<br>Виртуального Дня Физика:</h1>
		</div>
		<div class="articles">

			<h1>23 мая 2020</h1>

			<h2>ТРАНСЛЯЦИЯ</h2>
			<p>
			<b>15:00</b>  Открытие
			<br>
			<b>15:30</b>  Научный ринг
			<br>
			<b>17:00</b>  Гостевой концерт
			<br>
			<b>19:00</b>  Мисс Физфак
			<br>
			<b>20:00</b>  Вечерний концерт
			<br>
			<b>21:00</b>  Закрытие
			</p>

	<h2>АКТИВНОСТИ</h2>
			<p>
			<b>13:00-16:00</b>  Виртуальные конкурсы
			<br>
			<b>13:30-14:30</b>  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdbgqLu4CjVsp3O7Rxy80LcL4wor_oWI2uUj5o9jh33UxIWCw/viewform" target="_blank">Квиз Тайм-Line</a>
			<br>
			<b>13:00-20:00</b>  Физфак в Minecraft
			<br>
			<b>17:30-19:00</b>  <a href="https://lichess.org/tournament/0lCwoNHV" target="_blank">Кубок Дня Физика по Шахматам</a>
			</p>

			<a href="https://dfmarket.ru/" target="_blank"><h2>ДФ Маркет</h2></a>


			<p style="font-size: 10pt;">
			Более подробную информацию ищите в нашей группе Вконтакте и Инстаграме.
			<br><br>
			<i>*- программа является предварительной и может измениться.</i>
			</p>

		</div>
		</div>


	</body>

</html>