{% load static %}

		<footer>

			<div class="foot">

				<div class="footl">
					<p>Мы начали разработку этого сайта на самоизоляции.
					Пожалуйста, представьте, что все баги — это фичи,
					либо отправьте скриншоты нам на почту. Спасибо!<p>
					<a href="https://vk.com/df_msu" target="_blank" class="fa fa-vk"></a>
					<a href="https://www.instagram.com/okdf_msu/" target="_blank" class="fa fa-instagram"></a>
					<a href="https://t.me/df_msu" target="_blank" class="fa fa-telegram"></a>
				</div>
				<div class="footr">
					<a href="mailto:okdf@physics.msu.ru">okdf@physics.msu.ru</a>
					<p>ОКДФ ©</p>
				</div>

			</div>

		</footer>