.yellow {
	background-color: #ffe79c;
}
.red {
	background-color: #ff9f9f;
}
.green {
	background-color: #bdff9f;
}
.blue {
	background-color: #9ff6ff;
}
.purple {
	background-color: #e19fff;
}
