{% extends 'base.html' %}
{% load cache %}
{% block title %}
    Люди
{% endblock title %}
{% block content %}
    <article style="background: #F0F1F1;">

		<section>
            {% cache 150000 people_list %}
            {% for people in people_list %}

			<div class="cont01">
                <img src="{{ people.photo.url }}">
				{{ people.name }}
                <br>
				<p>
				    {{ people.description | safe }}
				</p>
				<br>
                <a href="{{ people.get_absolute_url }}">
                    <div class="butt">
                        <h1>Смотреть</h1>
                    </div>
                </a>
			</div>

            {% endfor %}
            {% endcache %}
        </section>

	</article>
{% endblock content %}

